*{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #373737;
    font-size: 16px;
    position: relative;
}
                /* Header */

.header{
    /* display: flex; */
    background-color: white;
    font: 18px;
}

.header .navbar .logo img{
    height: 40px;
}

.header .navbar .nav-item i {
    margin-right: 8px;
}

.header .nav-vl {
    border-left: 2px solid #d6d6d678;
    height: 24px;
    margin: auto 16px;
    display: block;
}

@media(max-width:768px) {
    .header .nav-vl {
        display: none;
    }
}

.header .nav-name {
    font-weight: bold;
    margin: auto 16px;
}

@media(max-width:768px) {
    .header .nav-name {
        margin: 8px 0px
    }
} 



.container {
    max-width: 920px;
    padding: 0px 20px;
}

.page-container {
    max-width: 800px;
    padding: 80px 24px;
    margin: auto;
}

@media (max-width: 768px) {
    .page-container {
        padding: 64px 24px;
    }
}

.white {
    color: #ffffff;
}

#loading {
    display: none;
    background-color: #666666;
    background-image: url("../img/progress_spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000000;
}


.btn-primary,
.btn-warning,
.btn-danger {
    color: white;
    font-weight: bold;
}

.input-group .input-group-text i {
    width: 14px;
}

input[type="radio"] {
    position: relative;
    top: 1px;
}

.breadcrumb {
    background-color: #e5e3e8;
    font-size: 13px;
    border-radius: 0px;
    margin-bottom: 0px;
}


/* Login Modal */
#login-modal .modal-dialog {
    width: 350px;
    margin: auto;
}

.modal-footer {
    background-color: #f4f4f4;
    justify-content: center;
}